<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <!-- Vue3 -->
    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        }
      }
    </script>
    
    <title>Claris</title>
  </head>
<body>
  
  <div id="app" class="m-5">
      <div class="small">#myApps/02.html</div>
      <input type="text" v-model="keyword"><span class="m-3">{{ counter }}件 / {{ time }} sec</span>
      <table class="table text-nowrap">
        <tr>
          <th>post</th>
          <th>pref</th>
          <th>city</th>
          <th>town</th>
        </tr>
          <tr v-for="list in filteredLists">
              <td v-text="list.post"></td>
              <td v-text="list.prefname"></td>
              <td v-text="list.cityname"></td>
              <td v-text="list.townname"></td>
          </tr>
      </table>
  </div>

<script type="module">
import { ref, createApp } from "vue" 

let KEN_All = []

const app = createApp({
  setup () {
    const counter = ref(0)
    const time = ref(0)
    const keyword = ref('')
    return{
      counter,
      time,
      keyword,
    }
  },
  mounted() {
    window.onload = () => {
      let st = performance.now()
      let xhr = new XMLHttpRequest()
      xhr.open('GET', 'utf_all.csv', true)
      xhr.onreadystatechange = function() {
        if (xhr.readyState === 4) {
          if (xhr.status === 200) {
            KEN_All = SetData( xhr.responseText )
            let ed = performance.now()
            let tm = Math.round((ed - st),0)/1000
            this.time = tm
            console.log('Done '+this.time)
            UpCountTime( KEN_All.length, tm )
          } else {
            console.log('Error!')
          }
        } else {
          console.log('Connecting...')
        }
      }
        xhr.send(null)
    }
  },
  computed: {
    filteredLists: function() {
      let st = performance.now()
      let lists = []
      if( this.keyword.length > 0 ){
        for(let i in KEN_All) {
          let item = KEN_All[i]
          let schctr = item.post+item.prefname+item.cityname+item.townname+item.prefkana+item.citykana+item.townkana
          try{
            if(schctr.indexOf(this.keyword) !== -1 ) {
              lists.push(item)
            }
          }catch(e){}
        }
      }
      let ed = performance.now()
      let tm = Math.round((ed - st),0)/1000
      this.counter = lists.length
      this.time = tm
      return lists
    }
  }
}).mount('#app') 

function SetData( basedata ){
    let array =[]
    let data = basedata.split('\r\n')
    for (let i in data){
      let line = data[i].replace(/\"/g, '')
      let tmp = line.split(',')
      let item = {
        id : i,
        localcd : tmp[0],
        post5 : tmp[1],
        post : tmp[2],
        prefkana : tmp[3],
        citykana : tmp[4],
        townkana : tmp[5],
        prefname : tmp[6],
        cityname : tmp[7],
        townname : tmp[8],
        flg1 : tmp[9],
        flg2 : tmp[10],
        flg3 : tmp[11],
        flg4 : tmp[12],
        flg5 : tmp[13],
        flg6 : tmp[14],
        kencd : tmp[0].substr(0,2),
      }
      array.push(item)
    }
    return array
  }  

  function UpCountTime(count,time){
    app.counter = count
    app.time = time
  }
  
</script>
</body>
</html>